<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="InsertIfMissing">
		<add name="ErrorQueue" providerName="System.Data.SqlClient" connectionString="Server=sonydev2\sql2008; Database=ss_email; User Id=smartsite; Password=ikrzikrz;MultipleActiveResultSets=True;" xdt:Transform="InsertIfMissing" />
	</connectionStrings>
	<appSettings>
		<!-- SmartSite settings -->
		<add key="smartsite.emailqueue" value="Network Library=DBMSSOCN;DATABASE=ss_email;UID=smartsite;PWD=ikrz;Address=emailDB;network library=dbmssocn" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="smartsite.errorstoemail" value="aduong@klick.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="smartsite.overridetoemail" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="smartsite.emailbackupsmtp" value="smtp.klick.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		
		<add key="smartsite.routingdebug" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/> <!-- Print out routing information to debug -->
		<add key="smartsite.secureredirects" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/><!-- Automatically redirect to https for secure pages? -->
		<add key="DisableManager" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/> <!-- Disable the CMS for live -->

		<!-- The path where all POST requests are logged -->
		<add key="smartsite.postlogpath" value="~/Postlogs/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<!-- Where the site should be published to -->
		<add key="smartsite.promotionpath" value="../../live.mysite.com/Web/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

		<!-- CMS settings -->
		<add key="cms.dogitcommits" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/> <!-- Automatically commit changes from CMS when new pages/content are added? -->

		<!-- Set the current of the site in the CMS, this will run updates from Models/Data/Scripts/Updates/ to get the latest version -->
		<add key="CMSSiteCurrentVersion" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

	</appSettings>
	<system.web>
		<httpModules xdt:Transform="InsertIfMissing">
			<remove name="UrlRoutingModule-4.0" xdt:Transform="InsertIfMissing"/>
			<add name="UrlRoutingModule-4.0" type="Klick.Mvc.Core.Routing.SmartSiteRoutingModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<modules xdt:Transform="InsertIfMissing">
			<remove name="UrlRoutingModule-4.0" xdt:Transform="InsertIfMissing"/>
			<add name="UrlRoutingModule-4.0" type="Klick.Mvc.Core.Routing.SmartSiteRoutingModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
		</modules>
	</system.webServer>
	<elmah xdt:Transform="InsertIfMissing">
		<!--  Elmah setting for recording errors to the database in the Messages table for the ErrorQueue connection -->
		<!-- errorLog type="Klick.Mvc.Core.Utilities.ElmahProvider, Klick.Mvc.Core" connectionStringName="ErrorQueue" xdt:Transform="InsertIfMissing" /-->
		<!--  Elmah setting for recording errors to memory, used for dev -->
		<errorLog type="Elmah.MemoryErrorLog,Elmah" size="50" xdt:Transform="SetAttributes"/>
		<security allowRemoteAccess="false" />
	</elmah>
</configuration>

